/* global element styles */
body {
    font-family: "raleway", serif;
    font-size: 1em;
    background-color: #7f534b;
    margin: 0;
}

a {
    color: #7f534b;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #99756f;
}

/* centers vertically & horizontally */
.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* styles across multiple sections */
.section-styles {
    padding: 15px 15px 25px 15px;
    border-bottom: 2px solid #7f534b;
    background-color: #fefadc;
}

.section-title {
    font: 3em "playfair display", serif;
    color: #7f534b;
    text-align: center;
    margin: 0;
    display: block;
    padding-bottom: 10px;
}

.section-title-active {
    background: #e5e1c6;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 20px;
    border-radius: 30px 0 30px 0;
    border: 3px solid #fefadc;
}

.card-img {
    border-radius: 30px 0 0 0;
    overflow: hidden;
}

.card-img img {
    width: 100%;
}

.card-text {
    font-size: 0.9em;
    padding: 20px;
}

/* button styles */
.light-btn {
    background-color: #fef9d7;
    border: 1px solid #7f534b;
    border-radius: 5px;
    color: #7f534b;
    font: 0.8em "raleway", sans-serif;
    padding: 5px 10px;
}

.light-btn:hover {
    background-color: #97829b;
    color: #fef9d7;
    transition: 500ms;
    cursor: pointer;
}

.dark-btn {
    background: #7f534b;
    color: #fef9d7;
    height: 8vh;
    font: italic 0.9em "playfair display", serif;
    border: 1px solid #7f534b;
    border-radius: 5px;
    margin-left: 20px;
    width: 90%;
}

.dark-btn:hover {
    background: #a58781;
    cursor: pointer;
    transition: 500ms;
    border: 1px solid #a58781;
}


/* mobile & small scrren styles */

/* removes tablet and desktop nav on mobile */
.nav {
    display:none;
}

/* mobile nav */
.hamburger-icon {
    display: block;
    color: #b2a3b5;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.2em;
}

.hamburger-icon:hover {
    cursor: pointer;
}

.hamburger-none {
    display: none;
}

.mobile-nav {
    display: block;
    height: 100vh;
    width: 100vw;
    background: #6b8b8c;
    z-index: 100;
    position: fixed;
    top: 0;
}

.mobile-nav ul {
    list-style: none;
    padding-right: 60px;
    float: right;
    text-align: right;
    color: #fefadc;
    font-size: 10vw;
}

.mobile-nav a {
    color: #fefadc;
    font-weight: 300;
}

.mobile-nav a:hover {
    cursor: pointer;
    color: #b2a3b5;
}

.close-btn {
    display: none;
}

.close-btn-active {
    display: block;
    color: #b2a3b5;;
    font-size: 1.2em;
    position: absolute;
    top: 20px;
    right: 35px;
}

.close-btn-active:hover {
    cursor: pointer;
}

/* header section */
.index-header {
    height: 75vh;
    background: url(../imgs/wedding-1.jpg) top/cover no-repeat;
    border-bottom: 2px solid #7f534b;
    flex-direction: column;
}

.header-title {
    font: 4vw "playfair display", serif;
    color: #fefadc;
    text-align: center;
}

.header-blurb {
    font-size: 0.9em;
    color: #fefadc;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.landing-btn {
    width: 55%;
}

/* about section */
.about-title {
    font: 3em/0.5em "playfair display", serif;
    color: #7f534b;
    margin-top: 25px;
}

#about-section {
    flex-direction: column;
}

.about-container {
    flex-direction: column-reverse;
}

.bio-img {
    padding-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.about-text {
    width: 90%;
}

/* buffer section */
.buffer-section {
    height: 50vh;
    background: url(../imgs/divider.jpeg) center/cover no-repeat fixed;
}

.quote {
    font: italic 1.5em "playfair display", serif;
    padding: 25px 50px;
    color: #fefadc;
}

/* services section */
#services-section {
    flex-direction: column;
}

.services-cards {
    background: #e5e1c6;
}

.card-title {
    font-family: "playfair display", serif;
    color: #6b8b8c;
    margin-top: 0;
}

/* testimonials section */
#testimonials-section {
    background: url("../imgs/floral-bg.jpeg") 30% 50%/cover;
    display: flex;
    flex-direction: column;
}
.testimonials-cards {
    background: #779a9c;
}

.couple {
    color: #e5e1c6;
    font-family: "playfair display", serif;
}

/* contact container */
#contact-section {
    flex-direction: column;
}

.contact-container {
    width: 90%;
}

.contact-images {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contact-form {
    flex-direction: column;
    margin-bottom: 30px;
}

.contact-inputs {
    width: 90%;
    height: 1em;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font: italic 1em "playfair display", serif;
    color: #7f534b;
    background: #fef9d7;
    border: 1px solid #7f534b;
    border-radius: 5px;
}

.form-label {
    text-align: center;
}

.hidden-labels {
    display: none;
}

.contact-textarea {
    height: 15vh;
    overflow-y: auto;
}

#contact-2 {
    display: none;
}