/* global element styles */
body {
    font-family: "raleway", serif;
    font-size: 1em;
    background-color: #7f534b;
    margin: 0;
}

a {
    color: #7f534b;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #99756f;
}

/* centers vertically & horizontally */
.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
